.header{
    position:fixed;
    top:0;
    left:0;
    right: 0;
    z-index: 2;
}

.content{
    padding-top:80px;
}
.navbar{
    background-color: #df545b !important;
} 

.navbar-brand{
    color:white !important;
    font-weight: bold;
}

.nav-link{
    color:white !important;
}


.footer{
    background-color: #f7444e;
    text-align: center;
    padding:10px;
    color:white;
    position:absolute;
    bottom:0;
    left:0;
    right:0; 
}


button{
    border:1px solid rgba(255, 255, 255, 0.589);
    box-shadow: none;
    border:1px solid white;
    color:white;
    background: #df545b;
    padding:5px;
}

button:hover{
    background-color: brown;
}


.loader{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index:99999;

}
.spinner-border{
    height:100px;
    width:100px;

}

a{
    text-decoration: none;
}

input,select{
    height: 35px !important;


}
#uncontrolled-tab-example-tab-products{
    color:black !important;
}
.nav-item button{
    color:black !important;
}

.nav-tabs{
    background-color: #df545b;
}